<h1>New Membership Type</h1>
<fieldset class="new_membership_fieldset">
<%= render 'form', membership_type: @membership_type %>

  <%= link_to '<button id="back">Back</button>'.html_safe, membership_types_path %>
</fieldset>
