<h1>New Class Time</h1>
<fieldset class="new_time_fieldset">
<%= render 'form', class_time: @class_time %>

  <%= link_to '<button id="back">Back</button>'.html_safe, class_times_path %>
</div>
</fieldset>